.svg {
  height: 20px;
}

.svg-small {
  height: 10px;
}

button {
  border-radius: 5px;
  height: 35px;
  border-color: #b0babf;
  border-width: 1px;
  color: #1e2022;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}
